@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/Museo Sans/MuseoSansCyrl 300.otf");
    font-weight: 300;
    font-style: normal;    
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/Museo Sans/MuseoSansCyrl 500.otf");
    font-weight: 500;
    font-style: normal;    
}

@font-face {
    font-family: "MuseoSansCyrl";
    src: url("../fonts/Museo Sans/MuseoSansCyrl 700.otf");
    font-weight: 700;
    font-style: normal;    
}