.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  padding: 60px 20px;
  background: url(../img/catalog/back.jpg) no-repeat;
  background-size: cover;

  @media (max-width: @desktop) {
    font-size: 24px;
    padding: 20px 20px;
  }

  h2 {
    margin-top: 55px;
    font-size: 30px;

    @media (max-width: @desktop) {
      font-size: 24px;
      margin-top: 35px;
    }
  }
}

.catalog {
  @media (max-width: @desktop) {
    order: 1;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: @desktop) {
    justify-content: space-between;
  }
}
.catalog-title {
  display: none;

  @media (max-width: @desktop) {
    display: block;
  }
}

.catalog-list__item {
  position: relative;
  width: 282px;
  height: 280px;
  background: url(../img/catalog/item-bg.png) no-repeat;
  background-size: contain;

  @media (max-width: @desktop) {
    width: 205px;
    height: 205px;
  }

  img {
    position: absolute;
    top: 60px;
    left: 40px;

    @media (max-width: @desktop) {
      width: 120px;
      left: 50px;
    }
  }
}

.catalog-list__link {
  display: block;
  text-align: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 240px;

  @media (max-width: @desktop) {
    font-size: 15px;
    margin-top: 175px;
  }

  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}

.wok-item {
  img {
    top: 35px;
    left: 20px;
  }
}

.soup-item {
  img {
    top: 55px;
    left: 60px;
  }
}

.rolls-item {
  background: url(../img/catalog/rolls-bg.png) no-repeat;
  background-size: cover;
  background-position-y: 0%;

  img {
    display: none;
  }
}

.fry-rolls-item {
  background: url(../img/catalog/fry-rolls-bg.png) no-repeat;
  background-size: cover;

  img {
    display: none;
  }
}

.sets-item {
  background: url(../img/catalog/sets-bg.png) no-repeat;
  background-size: cover;

  img {
    display: none;
  }
}

.pizza-item {
  background: url(../img/catalog/pizza-bg.png) no-repeat;
  background-size: cover;

  img {
    display: none;
  }
}

.salad-item {
  background: url(../img/catalog/salad-bg.png) no-repeat;
  background-size: cover;

  img {
    display: none;
  }
}

.desert-item {
  background: url(../img/catalog/desert-bg.png) no-repeat;
  background-size: cover;

  img {
    display: none;
  }
}

.drink-item {
  background: url(../img/catalog/drinks-bg.png) no-repeat;
  background-size: cover;

  img {
    display: none;
  }
}
